/* Make page fill the viewport */
html {
  height: 100%;
}
body {
  min-height: 100%;
}

/* Type */
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  padding: 3vw;
}

/* Color */
a {
  color: hsl(210, 53%, 51%);
}

/* Form */
input {
  font-size: inherit;
  font-family: inherit;
  border: 1px solid hsl(0, 0%, 75%);
  padding: 0.375em 0.75em;
  box-sizing: border-box;
  width: calc(100% - 4em);
}
input {
  margin-top: 0.375em;
}
input:focus::placeholder {
  color: hsl(0, 0%, 75%);
}
button {
  font-size: inherit;
  font-family: inherit;
  border: 1px solid hsl(0, 0%, 75%);
  padding: 0.375em 0.75em;
}

label.has-placeholder > span,
label.has-placeholder > br {
  /* @hidden-accessible */
  position: absolute;
  left: -9999px;
}

/* Code */
pre {
  border: 1px solid hsl(0, 0%, 79%);
  line-height: 1.4em;
  padding: 0.625em;
  overflow: auto;
  border-radius: 0.1875em;
  background-color: hsl(240, 11%, 98%);
  color: hsl(0, 0%, 22%);
  margin: 2em 0;
}
code {
  border-radius: 3px;
  border: 1px solid hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 98%);
  display: inline-block;
  padding: 0 0.4em;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
pre code {
  border-radius: unset;
  border: unset;
  background-color: unset;
  display: unset;
  padding: unset;
}

/* Table */
table {
  width: 100%;
  overflow: auto;
  display: block;
  margin: 1em 0;
}
thead {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
th {
  border: 1px solid hsl(0, 0%, 87%);
  padding: 0.375em 0.875em;
  text-align: center;
  font-weight: 700;
}
tbody {
  vertical-align: middle;
  border-color: inherit;
}
tr {
  border-top: 1px solid hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 100%);
  vertical-align: inherit;
}
td {
  border: 1px solid hsl(0, 0%, 87%);
  padding: 0.375em 0.875em;
}

/* Note */
.note {
  color: hsl(210, 50%, 30%);
  border: 1px solid hsl(202, 48%, 72%);
  background-color: hsl(204, 70%, 91%);
}
.note h2 {
  font-size: inherit;
  text-transform: capitalize;
}
.note > :first-child {
  margin-top: 0;
}
.note > :last-child {
  margin-bottom: 0;
}

/* Header */
body > header {
  /* @hidden-accessible */
  position: absolute;
  left: -9999px;
}
form h1 {
  font: inherit;
  margin: 0;
  display: inline;
}

/* Search */
.search {
  font-size: 3vw;
  margin-bottom: 1.5em;
  margin-left: calc(-0.75em - 1px);
}

/* Search results */
.results ul {
  list-style: none;
  padding: 0;
}
.results li a {
  display: block;
  padding: 1em;
  margin: 0 -1em;

  text-decoration: none;
}
.results li a:hover {
  background: #ffc;
}
.results li a > * {
  margin: 0;
}

/* Details */
.details {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.details > * {
  margin: 3rem auto;
  padding: 1.5rem;
  max-width: 45rem;
}
